In [0]:
import pandas as pd

In [0]:
file_url = "https://bit.ly/ds01-weight-history"
data = pd.read_csv(file_url)
data

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  강성희  2019-01-01  76.4  kg  김지수   강남
1   2  강성희  2019-01-02  75.7  kg  김지수   강남
2   3  강성희  2019-01-03  76.0  kg  김지수   강남
3   4  강성희  2019-01-04   NaN  kg  최재우  여의도
4   5  강성희  2019-01-05  76.2  kg  김지수  강남구
5   6  강성희  2019-01-06  75.7  kg  최재우  여의도
6   7  강성희  2019-01-07   NaN  kg  최재우  여의도
7   8  강성희  2019-01-08   NaN  kg  김민철  여의도
8   9  강성희  2019-01-09  75.0  kg  김민철  여의도

In [0]:
data = pd.read_csv(file_url, index_col = '회차')
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수  강남구
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [0]:
data.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64', name='회차')

In [0]:
data.columns

Index(['이름', '측정일', '몸무게', '단위', '담당', '지점'], dtype='object')

In [0]:
data.shape

(9, 6)

In [0]:
data.head()

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수  강남구

In [0]:
data.tail()

     이름         측정일   몸무게  단위   담당   지점
회차
5   강성희  2019-01-05  76.2  kg  김지수  강남구
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [0]:
data['몸무게'].mean()

75.83333333333333

In [0]:
data['몸무게'].max()

76.4

In [0]:
data['몸무게'].min()

75.0

In [0]:
data['몸무게'].describe()

count     6.000000
mean     75.833333
std       0.492612
min      75.000000
25%      75.700000
50%      75.850000
75%      76.150000
max      76.400000
Name: 몸무게, dtype: float64

In [0]:
data['지점'] = data['지점'].replace("강남구","강남")
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수   강남
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [0]:
data['몸무게'] = data['몸무게'].fillna(75.8)
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04  75.8  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수   강남
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07  75.8  kg  최재우  여의도
8   강성희  2019-01-08  75.8  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [0]:
data['몸무게(prev)'] = data['몸무게'].shift(+1)
data['몸무게(next)'] = data['몸무게'].shift(-1)
data

     이름         측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희  2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희  2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희  2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희  2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희  2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희  2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희  2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희  2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [0]:
data['측정일']

회차
1    2019-01-01
2    2019-01-02
3    2019-01-03
4    2019-01-04
5    2019-01-05
6    2019-01-06
7    2019-01-07
8    2019-01-08
9    2019-01-09
Name: 측정일, dtype: object

In [0]:
data['측정일'] = pd.to_datetime(data['측정일'])
data['측정일'].dt.year

회차
1    2019
2    2019
3    2019
4    2019
5    2019
6    2019
7    2019
8    2019
9    2019
Name: 측정일, dtype: int64

In [0]:
data['측정일'].dt.month

회차
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: 측정일, dtype: int64

In [0]:
data['측정일'].dt.day

회차
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: 측정일, dtype: int64

In [0]:
columns = ['이름','측정일', '몸무게']
data[columns]

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
2   강성희 2019-01-02  75.7
3   강성희 2019-01-03  76.0
4   강성희 2019-01-04  75.8
5   강성희 2019-01-05  76.2
6   강성희 2019-01-06  75.7
7   강성희 2019-01-07  75.8
8   강성희 2019-01-08  75.8
9   강성희 2019-01-09  75.0

In [0]:
data[['이름','측정일','몸무게']]

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
2   강성희 2019-01-02  75.7
3   강성희 2019-01-03  76.0
4   강성희 2019-01-04  75.8
5   강성희 2019-01-05  76.2
6   강성희 2019-01-06  75.7
7   강성희 2019-01-07  75.8
8   강성희 2019-01-08  75.8
9   강성희 2019-01-09  75.0

In [0]:
data.loc[2]

이름                           강성희
측정일          2019-01-02 00:00:00
몸무게                         75.7
단위                            kg
담당                           김지수
지점                            강남
몸무게(prev)                   76.4
몸무게(next)                     76
Name: 2, dtype: object

In [0]:
data.loc[[1,3,7]]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8

In [0]:
data.loc[1:7] # 1부터 7까지

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8

In [0]:
data.loc[1,'이름']

'강성희'

In [0]:
columns = ['이름','몸무게','지점']
session_id = [1,3,4]
data.loc[session_id, columns]

     이름   몸무게   지점
회차
1   강성희  76.4   강남
3   강성희  76.0   강남
4   강성희  75.8  여의도

In [0]:
data[data['담당'] == '김지수']

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수  강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수  강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수  강남       75.8       75.7

In [0]:
data[data['몸무게']>76]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
5   강성희 2019-01-05  76.2  kg  김지수  강남       75.8       75.7

In [0]:
heavy = data['몸무게']>75.5
kjs = data['담당'] == '김지수'
data[heavy & kjs]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수  강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수  강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수  강남       75.8       75.7

In [0]:
data[heavy | kjs]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0

In [0]:
columns = ['이름','몸무게','담당']
data.loc[kjs, columns]

     이름   몸무게   담당
회차
1   강성희  76.4  김지수
2   강성희  75.7  김지수
3   강성희  76.0  김지수
5   강성희  76.2  김지수

In [0]:
people = ['최재우','김민철']
data[data['담당'].isin(people)]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [0]:
data[data['담당'].str.contains('김')]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [0]:
data[data['몸무게(prev)'].isnull()]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7

In [0]:
data[data['몸무게(prev)'].notnull()]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

##컬럼 추가&수정

In [0]:
data['지역'] = '서울'
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)  지역
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7  서울
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0  서울
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8  서울
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2  서울
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7  서울
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8  서울
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8  서울
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0  서울
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN  서울

In [0]:
data['결제'] = [True, True, True, False, True, True, False, True, True,]
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)  지역     결제
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7  서울   True
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0  서울   True
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8  서울   True
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2  서울  False
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7  서울   True
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8  서울   True
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8  서울  False
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0  서울   True
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN  서울   True

In [0]:
data['몸무게(gram)'] = data['몸무게'] * 1000
data

     이름        측정일   몸무게  단위   담당  ... 몸무게(prev)  몸무게(next)  지역     결제  몸무게(gram)
회차                                 ...
1   강성희 2019-01-01  76.4  kg  김지수  ...       NaN       75.7  서울   True    76400.0
2   강성희 2019-01-02  75.7  kg  김지수  ...      76.4       76.0  서울   True    75700.0
3   강성희 2019-01-03  76.0  kg  김지수  ...      75.7       75.8  서울   True    76000.0
4   강성희 2019-01-04  75.8  kg  최재우  ...      76.0       76.2  서울  False    75800.0
5   강성희 2019-01-05  76.2  kg  김지수  ...      75.8       75.7  서울   True    76200.0
6   강성희 2019-01-06  75.7  kg  최재우  ...      76.2       75.8  서울   True    75700.0
7   강성희 2019-01-07  75.8  kg  최재우  ...      75.7       75.8  서울  False    75800.0
8   강성희 2019-01-08  75.8  kg  김민철  ...      75.8       75.0  서울   True    75800.0
9   강성희 2019-01-09  75.0  kg  김민철  ...      75.8        NaN  서울   True    75000.0

[9 rows x 11 columns]

In [0]:
data['과체중'] = data['몸무게'] > 75.8
data

     이름        측정일   몸무게  단위   담당  ... 몸무게(next)  지역     결제 몸무게(gram)    과체중
회차                                 ...
1   강성희 2019-01-01  76.4  kg  김지수  ...      75.7  서울   True   76400.0   True
2   강성희 2019-01-02  75.7  kg  김지수  ...      76.0  서울   True   75700.0  False
3   강성희 2019-01-03  76.0  kg  김지수  ...      75.8  서울   True   76000.0   True
4   강성희 2019-01-04  75.8  kg  최재우  ...      76.2  서울  False   75800.0  False
5   강성희 2019-01-05  76.2  kg  김지수  ...      75.7  서울   True   76200.0   True
6   강성희 2019-01-06  75.7  kg  최재우  ...      75.8  서울   True   75700.0  False
7   강성희 2019-01-07  75.8  kg  최재우  ...      75.8  서울  False   75800.0  False
8   강성희 2019-01-08  75.8  kg  김민철  ...      75.0  서울   True   75800.0  False
9   강성희 2019-01-09  75.0  kg  김민철  ...       NaN  서울   True   75000.0  False

[9 rows x 12 columns]

In [0]:
data.loc[data['몸무게'] > 75.8, '상태'] = '과체중'
data.loc[data['몸무게'] <= 75.8, '상태'] = '정상'
data

     이름        측정일   몸무게  단위   담당  ...  지역     결제  몸무게(gram)    과체중   상태
회차                                 ...
1   강성희 2019-01-01  76.4  kg  김지수  ...  서울   True    76400.0   True  과체중
2   강성희 2019-01-02  75.7  kg  김지수  ...  서울   True    75700.0  False   정상
3   강성희 2019-01-03  76.0  kg  김지수  ...  서울   True    76000.0   True  과체중
4   강성희 2019-01-04  75.8  kg  최재우  ...  서울  False    75800.0  False   정상
5   강성희 2019-01-05  76.2  kg  김지수  ...  서울   True    76200.0   True  과체중
6   강성희 2019-01-06  75.7  kg  최재우  ...  서울   True    75700.0  False   정상
7   강성희 2019-01-07  75.8  kg  최재우  ...  서울  False    75800.0  False   정상
8   강성희 2019-01-08  75.8  kg  김민철  ...  서울   True    75800.0  False   정상
9   강성희 2019-01-09  75.0  kg  김민철  ...  서울   True    75000.0  False   정상

[9 rows x 13 columns]

##컬럼 삭제

In [0]:
data = data.drop(['지역', '결제'], axis = 'columns')
data

     이름        측정일   몸무게  단위   담당  ... 몸무게(prev)  몸무게(next)  몸무게(gram)    과체중   상태
회차                                 ...
1   강성희 2019-01-01  76.4  kg  김지수  ...       NaN       75.7    76400.0   True  과체중
2   강성희 2019-01-02  75.7  kg  김지수  ...      76.4       76.0    75700.0  False   정상
3   강성희 2019-01-03  76.0  kg  김지수  ...      75.7       75.8    76000.0   True  과체중
4   강성희 2019-01-04  75.8  kg  최재우  ...      76.0       76.2    75800.0  False   정상
5   강성희 2019-01-05  76.2  kg  김지수  ...      75.8       75.7    76200.0   True  과체중
6   강성희 2019-01-06  75.7  kg  최재우  ...      76.2       75.8    75700.0  False   정상
7   강성희 2019-01-07  75.8  kg  최재우  ...      75.7       75.8    75800.0  False   정상
8   강성희 2019-01-08  75.8  kg  김민철  ...      75.8       75.0    75800.0  False   정상
9   강성희 2019-01-09  75.0  kg  김민철  ...      75.8        NaN    75000.0  False   정상

[9 rows x 11 columns]

##pivot table

In [0]:
pd.pivot_table(data, index = ['담당', '지점'], values = '몸무게', aggfunc = ['mean', 'sum'])

              mean    sum
               몸무게    몸무게
담당  지점
김민철 여의도  75.400000  150.8
김지수 강남   76.075000  304.3
최재우 여의도  75.766667  227.3